<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="Permissions-Policy"  xdt:Transform="InsertIfMissing" />
				<add name="Permissions-Policy" value="interest-cohort=()"  xdt:Transform="InsertIfMissing" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>