<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-AspNet-Version" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
				<remove name="X-Powered-By" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
				<remove name="X-AspNetMvc-Version" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>